body{
    .overlay-gallery{
        display: none;
    }
    &.show-gallery{
        overflow: hidden;
        .overlay-gallery{
            display: block;
            position: fixed;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            z-index: 9999;
            background: #333;
            .overlay-gallery__info{
                position: fixed;
                z-index: 9999999;
                top: 0;
                left: 0;
                height: 60px;
                width: 100%;
                background: rgba(0,0,0,0.5);
                color : #fff;
                h3{
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 100%;
                    padding-right:50px;
                    padding-top:15px;
                    padding-bottom:15px;
                    padding-left:15px;
                    margin: 0px;
                }
            }
            .overlay-gallery__wrapper{
                height: 100%;
                position: relative;
                .image-viewer{
                    position: fixed;
                    z-index: 999999;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    height: auto;
                    width: auto;
                    &.potrait{
                        height: auto;
                    }
                    &.landscape{
                        width: 100%;
                    }
                    img{
                        display: block;
                        margin: auto;
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
                .pdf-viewer{
                    position: fixed;
                    z-index: 999999;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    height: auto;
                    width: auto;
                    a{
                        color : #fff;
                        font-size:16px;
                        display: block;
                        margin-top:10px;
                    }
                    img{
                        display: block;
                        margin: auto;
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
            }
        }
    }
}

.m-portlet .m-form.m-form--fit {
    & > .m-portlet__body{
        padding-left: 2.2rem;
        padding-right: 2.2rem;
        .row{
            [class*=col-]{
                .form-group.m-form__group{
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }
}

.jstree-default{
    .jstree-anchor{
        height: auto;
        white-space :normal
    }
}

.list-folder-zmc{
    display: block;
    margin:0px;
    padding:0px;
    &:after{
        clear: both;
        display: block;
        content : " ";
    }
    li{
        display: inline-block;
        width:20%;
        @media (max-width: 900px) {
            width:33.3%;
        }
        @media (max-width: 700px) {
            width:50%;
        }
        @media (max-width: 440px) {
            width:100%;
        }
        float: left;
        margin:0px;
        padding:15px;
        .item{
            display: block;
            padding:5px;
            border: 1px solid #fafafa;
            text-align: center;
            .image{
                height: 150px;
                line-height: 150px;
                i{
                    font-size:62px;
                }
                img{
                    max-width: 100%;
                }
            }
            .caption{
                p{
                    margin:0px;
                    color : #333;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width:100%;
                }
            }
            &:hover{
                text-decoration: none;
            }
        }
        .tools{
            background: #fafafa;
            padding:5px;
            .edit{
                float:left;
            }
            .delete{
                float:right;
            }
            &:after{
                clear: both;
                display: block;
                content : " ";
            }
        }
    }
}