<?php
    $this->assign('title', 'LINK TIDAK TERSEDIA');
?>
<div class="sec-header vertical-align-bottom">
    <div class="container ">
      <div class="row">
        <div class="col-12"><h1>LINK TIDAK TERSEDIA</h1></div>
      </div>
    </div>
  </div>