html{
    height: 100%;
}
html,body{
    font-family: 'Poppins', sans-serif;
    color: #333;
    background-color: #fff;
    margin: 0px;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2px;
}
body{
    height: 100%;
    &.bplay-video{
        overflow: hidden;
    }
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
    font-weight: 700;
}
.logo-header{
    display: block;
    img{
        max-width: 100%;
    }
}
.top-header{
    padding-top:30px;
    padding-bottom:30px;
}
.widget-header{
    display: block;
    .widget-header-icon{
        display: inline-block;
        width:10%;
        text-align: center;
        float: left;
        text-align: right;
        .fa{
            font-size:28px;
            color : #0DB2B0;
        }
    }
    .widget-header-caption{
        width:90%;
        display: inline-block;
        padding-left:30px;
        font-size:11px;
        word-wrap: break-word;
        line-height: 16px;
        .widget-header-caption-title{
            font-weight: 500;
            font-size:14px;
            color : #0DB2B0;
            margin-bottom:10px;
        }
    }
}
.main-header{
    margin-bottom:30px;
    .logo-container{
        @media only screen and (max-width: 990px) {
            float: left;
            width:calc(100% - 80px);
            display: block;
        }
    }
    .button-nav-mobile{
        display: none;
        text-align: right;
        @media only screen and (max-width: 990px) {
            float: left;
            width:80px;
            display: block;
            padding-top:15px;
        }
        .navbar-toggler{
            background: #0DB2B0;
            color: #fff;
            text-align: center;
        }
    }
}
.nav-header{
    @media only screen and (max-width: 990px) {
        position: absolute;
        top:120px;
        left: 0;
        width: 100%;
        z-index: 30;
    }
    .dropdown-menu{
        @media only screen and (max-width: 990px) {
            background: transparent;
            border:none;
            color : #fff;
        }
    }
    .dropdown-item{
        @media only screen and (max-width: 990px) {
            white-space: normal;
            color : #fff;
            padding: 1rem 1rem;
        }
    }
    
        
    .navbar{
        padding: 0rem 1rem;
        position: relative;
        background-color: #0DB2B0 !important;
        .navbar-nav{
            .nav-item{
                margin-right: 15px;
                &:last-child{
                    margin-right: 0;
                }
            }
            .show{
                .nav-link{
                    color : darken(#0DB2B0,10%);
                    border-bottom: 3px solid darken(#0DB2B0,10%);
                }
            }
        }
        
        .dropdown-item{

        }
        
        .nav-link{
            padding: 1rem 1rem;
            border-bottom: 3px solid transparent;
            color : #fff;
            &:focus,&.active,&:hover{
                color : darken(#0DB2B0,10%);
                border-bottom: 3px solid darken(#0DB2B0,10%);
            }
        }
    }
}

.cover-page{
    .cover-owl{
        position: relative;
        .owl-item {
            -webkit-backface-visibility: hidden;
            -webkit-transform: translate(0) scale(1.0, 1.0);
        }
        .item {
            opacity: 0.4;
            transition: .4s ease all;
            transform: scale(.6);
        }
        .item img{
            display: block;
            min-width: 100%;
            width: auto;
            height: auto;
            max-width:100%;
        }
        .active .item {
            display: block;
            width: 100%;
            height: auto;
            opacity: 1;
            transform: scale(1);
            max-height: 680px !important;
        }
          
        .owl-nav{
            position: absolute;
            top:50%;
            left: 0%;
            width:100%;
            transform: translateY(-50%);
            z-index: 33;
            .owl-prev{
                position: absolute;
                left: 15px;
                top:0;
                z-index: 34;
                color : #fff;
                font-size:44px;
                border : 1px solid rgba(255, 255, 255, 0.4);
                width: 60px;
                height: 60px;
                text-align: center;
                line-height: 60px;
                background: rgba(255, 255, 255, 0);
                transition: all 0.4s ease;
                &:hover{
                    background: rgba(255, 255, 255, 0.4);
                }
            }
            .owl-next{
                position: absolute;
                right: 15px;
                top:0;
                z-index: 34;
                color : #fff;
                font-size:44px;
                border : 1px solid rgba(255, 255, 255, 0.4);
                width: 60px;
                height: 60px;
                text-align: center;
                line-height: 60px;
                background: rgba(255, 255, 255, 0);
                transition: all 0.4s ease;
                &:hover{
                    background: rgba(255, 255, 255, 0.4);
                }
            }
        }
    }
}

.container-page{
    padding:60px 0;
    &.bg-grey{
        background: #ddd;
    }
    &.bg-video{
        height: 400px;
        position: relative;
        overflow: hidden;
        &.play{
            position: fixed;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 32;
            .bg-video-default{
                display: none;
            }
            .video-container{
                display: block;
                background: #333;
            }
            video{
                width: 100%;
                height: 100%;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                z-index: 99;
            }
        }
        img{
            position: absolute;
            left: 50%;
            top:50%;
            transform: translate(-50%,-50%);
        }
        .video-caption{
            position: absolute;
            z-index: 3;
            top:50%;
            left: 0;
            width: 100%;
            text-align: center;
            transform: translateY(-50%);
            color : #fff;
            .play-icon{
                color : #fff;
                font-size:22px;
                border : 1px solid rgba(255, 255, 255, 1);
                text-align: center;
                display: inline-block;
                padding:15px 15px;
                span{
                    font-size:22px;
                }
                &:hover{
                    background: #fff;
                    color : #0DB2B0;
                    text-decoration: none;
                }
            }
        }
        .video-container{
            display: none;
            position: absolute;
            left: 0;
            top:0;
            width: 100%;
            height: 100%;
            z-index: 33;
            .video-control{
                position: absolute;
                top:0%;
                right: 0%;
                z-index: 100;
                .play-icon{
                    display: none;
                }
                & > a{
                    float: left;
                    display: inline-block;
                    background: #0DB2B0;
                    color: #fff;
                    height: 30px;
                    width: 30px;
                    line-height: 30px;
                    text-align: center;
                    margin-right: 5px;
                }
            }
        }
    }
}

.head-of-institute{
    background-color: #fff;
    position: relative;
    margin-bottom:30px;
    img{
        max-width: 100%;
    }
    .caption{
        position: absolute;
        text-align: center;
        h3{
            font-size:22px;
            margin-top:10px;
            margin-bottom:0px;
            border-bottom : 2px solid  #0DB2B0;
            padding-bottom:5px;
        }
    }
}

.welcome-message{
    h1{
        margin-bottom:30px;
        padding-bottom:15px;
        border-bottom:4px solid #0DB2B0;
        position: relative;
        &:before{
            content: " ";
            position: absolute;
            bottom:-4px;
            left: 10%;
            right: 0;
            height: 4px;
            background: #fff;
        }
        &:after{
            content: " ";
            position: absolute;
            bottom:-3px;
            left: 10%;
            right: 0;
            height: 2px;
            background: #ddd;
        }
    }
}
.shortcut-home-icon{
    display: block;
    padding:15px;
    text-align: center;
    color : #0DB2B0;
    font-weight: 500;
    position: relative;
    &:hover{
        color : #333;
        text-decoration: none;
        .image-icon{
        }
    }
    .image-icon{
        display: flex;
        height: 250px;
        img{
            display: block;
            margin: auto;
            max-width: 100%;
        }
        margin-bottom:15px;
    }
    margin-bottom:15px;
}

.image-container-page{
    margin-bottom: 30px;
    img{
        min-width: 100%;
        max-width: 100%;

    }
}

.contact-box{
    border-bottom:1px solid #ddd;
    margin-bottom:15px;
    padding:15px 0;
    .contact-icon{
        float: left;
        width:50px;
        font-size: 32px;
        color : #0DB2B0;
    }
    .contact-content{
        width: calc(100% - 50px);
        float: left;
        h6{
            color : #0DB2B0;
            margin-bottom: 5px;
        }
        p{
            margin: 0;
        }
    }
    &:after{
        clear: both;
        content: " ";
        display: block;
    }
}
.btn-primary{
    background: #0DB2B0;
    border-color: #0DB2B0;
    &:hover,&:focus{
        background: lighten(#0DB2B0,10%);
        border-color: lighten(#0DB2B0,10%);
    }
}
.header-container-page{
    margin-bottom:60px;
    padding-bottom:30px;
    border-bottom:4px solid #0DB2B0;
    position: relative;
    h1{
        margin-bottom:15px;
    }
    &:before{
        content: " ";
        position: absolute;
        bottom:-4px;
        left: 20%;
        right: 0;
        height: 4px;
        background: #fff;
    }
    &:after{
        content: " ";
        position: absolute;
        bottom:-3px;
        left: 20%;
        right: 0;
        height: 2px;
        background: #ddd;
    }
}

.blog-box{
    display: block;
    color : #333;
    .blog-image{
        margin-bottom:15px;
        img{
            max-width: 100%;
            min-width: 100%;
        }
    }
    .blog-heading{
        padding:0px 0px;
        margin-bottom:15px;
        h4{
            font-size:16px;
            color : #0DB2B0;
        }
        border-bottom:4px solid #0DB2B0;
        position: relative;
        padding-bottom:15px;
        &:before{
            content: " ";
            position: absolute;
            bottom:-4px;
            left: 20%;
            right: 0;
            height: 4px;
            background: #fff;
        }
        &:after{
            content: " ";
            position: absolute;
            bottom:-3px;
            left: 20%;
            right: 0;
            height: 2px;
            background: #ddd;
        }
    }
    .blog-content{
        padding:0px 0x;
        margin-bottom:15px;
    }
    &:hover{
        text-decoration: none;

    }

}

footer{
    padding: 60px;
    background: #333;
    color : #fff;
    a{
        color : #fafafa;
        &:hover{
            color: #0DB2B0;
        }
    }
    .to-top-nav{
        color: #fff;
        border:1px solid #fff;
        display: inline-block;
        margin-left: auto;
        width:50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size:22px;
        float: right;
        &:hover{
            background: #0DB2B0;
            color: #fff;
        }
    }
}

.album-item{
    color : #0DB2B0;
    text-align: center;
    padding:30px;
    display: block;
    margin-bottom: 30px;
    overflow: hidden;
    h5{
        color : #333;
    }
    &:hover{
        text-decoration: none;
    }
    img{
        max-width: 100%;
        display: block;
        margin: auto;
        margin-bottom:10px;
    }
    .pdf-icon{
        width:60px;
    }
}

.tr-bold{
    td{
        font-weight: bold;
    }
}