<table>
    <tr>
        <td colspan="3">Telah dilakukan pengadauan Benturan Kepentingan pada tanggal : <?=date('Y-m-d');?></td>    
    </tr>
    <tr>
        <td width="15%">Email</td>
        <td width="5%">:</td>
        <td><?=$data->email;?></td>
    </tr>
    <tr>
        <td>Nama</td>
        <td>:</td>
        <td><?=$data->name;?></td>
    </tr>
    <tr>
        <td>No. Telepon</td>
        <td>:</td>
        <td><?=$data->phone;?></td>
    </tr>
    <tr>
        <td>Alamat</td>
        <td>:</td>
        <td><?=$data->address;?></td>
    </tr>
    <tr>
        <td>Isi Pengaduan</td>
        <td>:</td>
        <td><?=$data->message;?></td>
    </tr>
</table>